/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
html {
    scroll-behavior: smooth;
  }


body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: 'Poppins',Arial, sans-serif;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}
a{
    text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}


article > * + * {
  margin-top: 1em;
}


input,
button,
textarea,
select {
  font: inherit;
}


.nav, .project-conteiner, .hero-text, .skills-container, .about-conteiner, .contact-container{
    margin: 0 100px;
}
/* MY */
.main{
    color: red;
}
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
}


/* nav */


.nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0;
}

/* logo */

.logo img{
    width: 60px;
    height: 60px;
}

/* nav-link */

.nav-link{
    width: 100%;
}
.nav-link ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    width: 100%;
}
.nav-link ul li img{
    width: 60px;
    height: 60px;
}

.nav-link ul li a{
    position: relative;
    color: white;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    margin: 0 20px;
}


.nav-link ul li a::after {
    content: ''; 
    position: absolute; 
    left: 0; 
    bottom: -2px; 
    width: 100%; 
    height: 2px; 
    background-color: #ffbd39; 
    /* opacity: 0;  */
    transform: scaleX(0);
    transform-origin: center;
    transition: 0.2s ease;
}

/* Стиль для линии под текстом ссылки при наведении курсора */
.nav-link ul li a:hover::after {
    /* opacity: 1; */
    transform: scaleX(1); /* При наведении делаем линию видимой */
}

.burger{
    color: #ffff;
    display: none;
}



/* hero img */
.hero-img{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.hero-img video{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    object-fit: cover;
    height: 100vh;
}

.hero-text{  
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 60vh;
}
.hero-text span{
    color: white;
    font-size: 48px;
    font-weight: 600;
}
.hero-text h2{
    font-size: 48px;
    color: #ffbd39; 
    display: inline;

}

/* Project */

.project{
    height: 100%;
    padding: 7em 0;
    background-color: rgb(12, 12, 12);
}
.project h2{
    font-size: 48px;
    color: #ffff;
    margin: 0 0 30px 0;
}

.project-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin: 10px 0;
}
.project-block{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.project-block:hover .project-block-title{
    transform: translateY(-100%);
}

.project-block img{
    object-fit: cover;
}

/* описание блоков проекта */

.project-block-title{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    bottom: -10;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: hsla(208, 7%, 55%, 1);
    background: linear-gradient(135deg, hsla(208, 7%, 55%, 1) 0%, hsla(191, 5%, 40%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(208, 7%, 55%, 1) 0%, hsla(191, 5%, 40%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(208, 7%, 55%, 1) 0%, hsla(191, 5%, 40%, 1) 100%);
    z-index: 1;
    overflow: hidden;
    transform: translateY(100%);
    transition: transform 0.3s;
}

.block-title{
    display: flex;
    align-items: center;
    flex-direction: column;
   
}

.block-title p{
    font-size: 20px;
    color: white;
    position: relative;
}
.block-title p::after{
    content: '';
    position: absolute; 
    left: 0; 
    bottom: -2px; 
    width: 100%; 
    height: 2px; 
    background-color: #ffbd39; 
    transform-origin: center;
    transition: 0.2s ease;
    z-index: 3;
}

.block-title span{
    font-size: 18px;
    color: #fff;
    margin: 10px 0 0 0;
}


.project-block-btn{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.project-block-btn i{
    margin: 0 5px 0 0;
}

.project-block-btn a{
    margin: 0 10px;
    padding: 5px 10px;
    border: 1px solid #fff;
    color: #ffbd39;
}


/* about */

.about{
    width: 100%;
    background-color: rgb(12, 12, 12);
    color: white;
    padding: 7em 0 0 0;
}
.about-conteiner h2{
    font-size: 48px;
    margin: 0 0 30px 0;
}

.about-content{
    width: 100%;
}

.about-content-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}
.about-img img{
    width: 200px;
}

.about-list-wrapper{

    padding: 0 0 0 40px;
}

.about-list{
    display: inline-block;
}

.about-list .list{
    margin-bottom: 1.2em;
}

.about-list .list span{
    font-size: 16px;
}

.about-list .list span:first-child{
    display: inline-block;
    font-size: 16px;
    width: 140px;
    color: #ffbd39;
}



/* skills */

.skills{
    background-color: rgb(12, 12, 12);
    width: 100%;
}

.skills h2{
    font-size: 48px;
    color: #fff;
    margin: 0 0 30px 0;
}

.skills-conteiner{
    width: 100%;
}

.skills-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.skill{
    padding: 10px;
}


.skill-name i {
    width: 30px;
    height: 30px;
    font-size: 30px;
}



/* Добавьте дополнительные стили иконок по необходимости */
.skill-name i.fa-html5 {
    color: #E34F26; /* Цвет HTML */
}

.skill-name i.fa-css3 {
    color: #2965F1; /* Цвет CSS */
}

.skill-name i.fa-js {
    color: #F7DF1E; /* Цвет JS */
}

.skill-name i.fa-sass,
.skill-name i.fa-scss {
    color: #CC6699; /* Цвет SCSS/SASS */
}

.skill-name i.fa-bootstrap {
    color: #7952B3; /* Цвет Bootstrap */
}

.skill-name i.fa-react {
    color: #61DBFB; /* Цвет React */
}

.skill-name i.fa-react {
    color: #61DBFB; /* Цвет Material-UI (MUI) */
}

.skill-name{
    display: flex;
    align-items: center;
}

.skill-name span{
    margin: 0 0 0 15px;
    font-size: 24px;
    color: #fff;
}

.skill-name img {
    width: 30px;
    height: 30px;
}

.skill-name svg {
    width: 30px;
    height: 30px;
}

.skill-name svg path{
    fill: #ff0000;
}

/* Contact */

.contact{
    background-color: rgb(12, 12, 12);
    padding: 7em 0;
}

.contact-container h2{
    color: #fff;
    font-size: 48px;
    margin: 0 0 30px 0;
}

.contact-container{
    margin-bottom: 7em;
}

.contact-content{
    display: flex;
    justify-content: space-evenly;
}

.contact-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact-icons{
    width: 60px; /* Добавим одинаковую ширину и высоту, чтобы иконка стала кругом */
    height: 60px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center; /* Центрируем иконку внутри круга */
    margin-bottom: 10px;
}

.contact-icons i{
    color: #ffbd39;
    font-size: 20px;
}

.contact-item p {
    color: #fff;
}
.contact-item p:nth-child(2){
    text-transform: uppercase;
    font-size: 22px;
    margin: 10px 0 10px 0;
}

/*  */

.form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7em;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
    width: 500px;
}

.form-container form input{
    padding: 10px;
}

.form-container form input,
.form-container form textarea {
    border: none;
    outline: none;
    border-radius: 10px;

}
.form-container form textarea {
    height: 170px;
    resize: none;
}



.form-container button {
    width: 200px;
    padding: 10px 0;
    margin-top: 20px;
    background-color: #ffbd39;
    color: #000;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.form-container button:hover {
    background-color: #fbc55a;
}
.form-container form input,
.form-container form textarea {
    width: 100%;
    padding: 10px;
}

@media(max-width: 1024px) {
    .nav, .project-conteiner, .skills-container, .about-conteiner{
        margin: 0 50px;
    }

    .hero-text{
        margin: 0 50px;
    }

    .skills-list{
        grid-template-columns: repeat(3, 1fr);
    }
}

 

@media(max-width: 778px){
    h2{
        text-align: center;
    }
    .project-items{
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        margin: 10px 0;
    }

    .about{
        padding: 2em 0 0 0;
    }

    .project{
        padding: 4em 0;
    }

    .contact{
        padding: 4em 0;
    }
    .contact-container{
        margin-bottom: 4em;
    }

    .contact-content{
        flex-wrap: wrap;
    }
    
    .contact-item:first-child{
        margin-top: 0;
    }
    .contact-item{
        margin-top: 60px;
    }

    /* skills */

    .skills-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

@media(max-width: 640px) {

    .about-conteiner h2, .project h2, .skills h2, .contact-container h2{
        font-size: 38px;
    }

    .about-content-wrapper{
        flex-direction: column;
        align-items: center;
    }

    .about-img{
        margin-bottom: 40px;
    }

    .about-img img{
        width: 150px;
    }

    .form-container form{
        width: 360px;
    }

    .skills-list{
        grid-template-columns: repeat(1, 1fr);
    }

    .contact-item{
        margin-top: 20px;
    }
    .hero{
        position: relative;
    }
    .nav{
        justify-content: space-between;
    }

    .nav-link {
    /* display: none; */
    position: fixed;
    top: 0;
    left: -100%; /* Начальное значение, чтобы меню было скрыто */
    width: 250px; /* Ширина меню */
    height: 100vh; /* Высота меню (подстройте под ваш дизайн) */
    background-color: #ffff;
    border-right: #ffff;
    transition: left 0.3s ease-in-out; /* Плавный переход для left свойства */
    z-index: 10;
} 
 .nav-link.active{
    display: flex;
    left: 0;
}

    .nav-link ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        padding: 0;
        margin: 40px 0;
    }

    .nav-link ul li{
        margin: 5px 0;
    }

    .nav-link ul li a {
        color: #000;
    }

    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    
    .bar {
        width: 100%;
        height: 4px;
        background-color: #fff;
        transition: transform 0.3s, opacity 0.3s;
    }
    
    .burger.active .bar1 {
        transform: rotate(-45deg) translate(-5px, 5px);
    }
    
    .burger.active .bar2 {
        opacity: 0;
    }
    
    .burger.active .bar3 {
        transform: rotate(45deg) translate(-5px, -5px);
    }
    

  
}

@media(max-width: 475px) {
    .nav, .project-conteiner, .skills-container, .about-conteiner, .contact-container{
        margin: 0 20px;
    }

    .hero-text{
        margin: 0 20px;
    }

    .form-container{
        margin: 40px 0 0 0;
    }

    .form-container form{
        width: 290px;
    }

    .about-list-wrapper{
        padding: 0 0 0 0;
    }

    .hero-text span{
        font-size: 38px;
    }

    .hero-text h2{
        font-size: 38px;
    }

    .logo img{
        width: 50px;
        height: 50px;
    }
    .about-list .list span:first-child{
        width: 100px;
        font-size: 14px;
    }

    .about-list .list span{
        font-size: 14px;
    }
}